* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: black;
  overflow-y: hidden;  
  overflow-x: hidden;
}

header {
  padding-left: 10px;
  padding-bottom: 5px;
}

header h1 {
  margin-bottom: 5px;
}

header h2 {
  margin-top: 0;
  font-weight: 300;
}

footer {
  position: fixed;
  bottom: 2px;
  right: 15px;
}

a {
  color: black;
}

a:visited {
  color: black;
}


