@media only screen and (max-device-width: 414px) and (orientation: portrait) {
  video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


html, body {
  height: 100%;
}


.container {
  text-align: center;
  padding-top: 1%;
}

h1,
h2 {
  display: block;
}